body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #9bc2c2;
}

.box {
    border: 1px solid #003333;
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;
    /*width: 45%;*/
    /*display: inline-block;*/
    background-color: #fff;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

h1, h2 {
    font-family: "Source Code Pro", monospace;
    color: #0d4d4d;
}

h1 {
    text-align: center;
}

.code, .codebox {
    font-family: 'Source Code Pro', monospace;
    color: #226666;
    background-color: #dedede;
    padding: 4px;
}

.codebox {
    padding: 15px;
}

.subhead {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 1.1em;
    margin-top: 10px;
    margin-bottom: 0;
    color: #0d4d4d;
}

.subtle {
    font-style: italic;
    color: #666;
    font-size: .9em;
}

.deleteButton, .addButton{
    font-size: 1.5em;
    font-family: "Source Code Pro", monospace;
    color: #dedede;
    font-weight:bold;
    cursor: pointer;
}

.deleteButton:hover, .deleteWarning {
    background-color: #feb2a8;
    color: #802215;
}

.addButton:hover {
    color: #106025;
    background-color: #51a166;
}

.fileUpload {
    background-color: #afdaba;
    padding: 10px;
    font-size: 1.2em;
}

.uploadBtn {
    padding: 5px;
    font-family: "Source Code Pro", monospace;
    color: #106025;
    background-color: #51a166;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 480px;
    width: 80px;
    text-align: center;
    font-size: 1em;
    border: none;
}

.uploadBtn:hover {
    background-color: #106025;
    color: #afdaba;
}

.fileTable {
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #dedede;
    padding: 10px;
}



